<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.menu_tech">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MenuTech">
        <activity android:name=".ProductDetail"></activity>
        <activity android:name=".PartyPackage" />
        <activity android:name=".HappyMeal" />
        <activity android:name=".DessertAndBeverages" />
        <activity android:name=".RegularMenu" />
        <activity android:name=".SecretMenu" />
        <activity android:name=".BreakfastMenu" />
        <activity
            android:name=".Blah"
            android:label="@string/title_activity_blah"
            android:theme="@style/Theme.MenuTech.NoActionBar" />
        <activity android:name=".McdoMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>